.menu-drop {
    width: 100vw;
    height: 65vh;
    z-index: 0;
    position: fixed;
    backdrop-filter: blur(6px) saturate(173%);
    -webkit-backdrop-filter: blur(6px) saturate(173%);
    background-color: rgba(39, 55, 77, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation-name: drop;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes drop {
    0% {top: -65vh;}
    100% {top: 0;}
}

.menu-drop a {
    text-decoration: none;
    color: white;
}

.close {
    font-size: 50px;
    padding: 10px;
    color: white;
    margin: 0 auto 0 0;
}

.home {
    font-size: 50px;
    padding: 10px;
    color: white;
}

.topics{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-hidden{
    display: none;
}